/* 
  Watch and Code Practical JavaScript ToDo List
  Name: Mike Giebner
  Date: 19 August 2019
*/

h1 {
  text-align: center;
}

button {
  margin-left: 10px;
}

div {
  margin: 10px;
}

li {
  margin-top: 5px;
}